@import "variables"

*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0

#cube_canvas
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  overflow: hidden
  background: #aaa
  perspective: 1200px
  transform-style: preserve-3d

#cube
  transform-style: preserve-3d
  transform: rotate3d(-1, -1, 0, 45deg)

.face
  position: absolute
  width: $size
  height: $size
  border-radius: $border-radius
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-gap: 3px
  padding: 3px
  .cell
    width: 100%
    height: 100%
    color: #000
    border: 1px solid #fff
    border-radius: $border-radius

@each $face, $data in $faces
  .#{$face}
    $angles: map-get($data, angles)
    $color: map-get($data, color)
    transform: rotateX(map-get($angles, x) + deg) rotateY(map-get($angles, y) + deg) rotateZ(map-get($angles, z) + deg) translateZ($size / 2)
    background-color: $color
